[Desktop Entry]
Name=AhaGo
Comment=囲碁アプリ (GTK+3)
Icon=com.github.aharotias2.AhaGo
Exec=com.github.aharotias2.AhaGo
Type=Application
Terminal=false
Categories=Game
